<div>

  <h2>Nested form (Template driven form)</h2>
  <form class="form1" #form1="ngForm">
    Form 1
    <form class="form2">
      Form 2
      <input type="text" [(ngModel)]="form2" >
      <form class="form2_1">
        Form 2.1
        <input type="text" [(ngModel)]="form2_1" >
      </form>
      <form class="form2_2">
        Form 2.2
        <input type="text" [(ngModel)]="form2_2" >
      </form>
    </form>
    <form class="form3">
      Form 3 <br>
      <input type="text" [(ngModel)]="form3" >
      <form class="form3_1">
        Form 3.1
        <input type="text" [(ngModel)]="form3_1" >
      </form>
    </form>
    <form class="form4">
      Form 4
      <input type="text" [(ngModel)]="form4" >
      Form 4.1
      <form class="form4_1">
        <input type="text" [(ngModel)]="form4_1" >
      </form>
    </form>
  </form>
</div>
